html{
  height: 100vh;

}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
#app {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
svg {
  background: grey;
  height: 40vw;
  width: 40vw;
}
polygon {
  fill: red;
}
canvas {
  background: tan;
}

